.game {
    outline: black solid 3px;
}

.game-menu {
    border: black solid 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px black inset;
    background: lightskyblue;
}

.game-logo {
    background: lightskyblue;
}

.logo-container {
    position: absolute;
    left: 39%;
}

.game-container {
    position: absolute;
    background: lightskyblue;
    top: 80px;
    left: 750px;
    width: 650px;
    height: 650px;
}

.menu-container {
    position: absolute;
    top: 80px;
    left: 750px;
    width: 650px;
    height: 650px;
}