.menu-container {
    position: relative;
    /* left: 500px;
    width: 650px;
    height: 650px; */
}

.game-container {
    /* position: absolute; */
    position: relative;
    background: rgb(10, 10, 10);
    /* left: 500px;
    width: 650px;
    height: 650px; */
}

.logo-container {
    position: static;
    /* left: 39%; */
}

.room-container {
    position: relative;
} 

.endgame-screen {
    border: white solid 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px black inset;
    position: relative;
    background: gray
}
.game-menu {
    border: white solid 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px black inset;
    background: gray
}

.game {
    outline: black solid 3px;
}

.game-logo {
    background: rgb(10, 10, 10);
}

.waiting-room {
    background: gray;
    border: white solid 2px;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 2px black inset;
}


